body{
    background-color:;
    display:;
}
/*this one is new */
div[name="Sachin"]{
    color: red;
}
.main-element{
    position :static; 
    right: 50px;
    bottom :20px;
    background-color:yellow;
    padding :10px;
}
.element{
position :fixed;
background-color: rgb(161, 161, 59);
}
@media (min-width:768px){
    
}
<meta name="viewport" content ="width=device-width,initial-scale=1.0">
/* display and flex not done properly*/